APP_ENV=development

DB_HOST=db
DB_PORT=3306
DB_NAME=camagru
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=

APP_URL=http://localhost:8080

# ========================================================
# CONFIGURACIÓN SMTP — EJEMPLO
# ========================================================

# Servidor SMTP utilizado para enviar los correos de Camagru
SMTP_HOST=smtp.gmail.com

# Puerto SMTP para STARTTLS
SMTP_PORT=587

# Cuenta utilizada para autenticarse en el servidor SMTP
SMTP_USER=sorayafernandezramirez@gmail.com

# Contraseña de aplicación de Gmail
# Nunca introducir una contraseña real en este archivo
SMTP_PASSWORD=hsracacwcqfrqadd

# Dirección que aparecerá como remitente
MAIL_FROM_ADDRESS=sorayafernandezramirez@gmail.com

# Nombre visible del remitente
MAIL_FROM_NAME=Camagru

# Cifrado utilizado para la conexión SMTP
SMTP_ENCRYPTION=starttls
