APP_ENV=development

DB_HOST=db
DB_PORT=3306
DB_NAME=camagru
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=

APP_URL=http://localhost:8080

# =========================================================
# CONFIGURACIÓN SMTP — EJEMPLO
# =========================================================

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Camagru

SMTP_ENCRYPTION=starttls